.menuitem {
    height:35;
    /*background-color: red;*/
}

    .menuitem label {
        margin-top: 5;
        margin-bottom:5;
        margin-left: 35;
        font-size: 19;
        color: black;
        text-align: left;
    }

.itemtitle {
    font-size: 17;
    color: black;
}

.itemtitlesmall {
    font-size: 15;
    color: black;
}

.itemsubtitle {
    font-size: 15;
    color: gray;
}

.itemsubtitlesmall {
    font-size: 12;
    color: gray;
}

.sbar{
    height:50;
    background-color:white;
}

.mainlist{
    background-color:#fafafa;
}

.item {
    height: 55;
}

.sep {
    background-color: #D6D6D6;
    height:0.5;
}


.valueitem {
    height: 55;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1;
}

.itemlabel {
    font-size: 17;
    color: black;
    margin-left:20;
   
}

.itemvalue {
    font-size: 15;
    margin-right: 20;
}
.itemvaluesmall {
    font-size: 12;
    margin-right: 20;
    margin-left: 80;
}

